# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
.env/
.venv/

# macOS
.DS_Store

# Editor/IDE
.vscode/
.idea/
*.swp

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Environment variables
.env
.env.*

# Node (if you generate types in frontend)
node_modules/

# Misc
openapi-types.ts 